# Config files
config/development.json
config/production.json
config/test.json
config/development.js
config/production.js
config/test.js

# Generated npm files
node_modules
npm-debug.log

# Editors
.idea
